<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reddit style RSS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        li {
            display: flex;
            justify-content: space-between;
            padding: 2px 10px;
        }
        li:hover {
            background: lightblue;
        }
        li:hover > a {
            color: black;
        }
    </style>
</head>

<body id="home">

<script>
    const sources = <%- JSON.stringify(sources) %>;

    const toList = (sources) => sources.map(({id, url}) => {
        return `<li style="list-style: none;">
                <a href="/feeds/${id}">${url}</a>
                <div>
                    <button onclick="build(${id})">build feed</button>
                    <button onclick="removeFeed(${id})">delete feed</button>
                </div>
            </li>`
    }).join('')

    const updateSources = () => {
        const input = document.querySelector('#name');
        let displaySources = sources;
        if (input.value !== '') {
            displaySources= sources.filter(({id, url}) => {
                return url.includes(input.value)
            })
        }
        const ul = document.querySelector('#sources');
        ul.innerHTML = toList(displaySources);
    }
    window.removeFeed = async (id) => {
        await fetch(`/feeds/${id}`, {
            method: 'DELETE',
        });
        location.reload();
    }

    window.addFeed = async (url) => {
        await fetch(`/feeds/${id}`, {
            method: 'POST',
            body: url,
        });
        location.reload();
    }
    window.build = async (id) => {
        await fetch(`/build/${id}`, {
            method: "POST"
        })
    }
</script>
<h1>RSS Feed</h1>
<h2>Active Feed</h2>
<nav>
    <ul>
        <li><a href="/">Back to feed</a></li>
    </ul>
</nav>
<div>
    <form action="/feeds" method="post">
        <label for="name">Subscribe to a new Feed</label><br />
        <input id='name' name='name' type="text" placeholder="Enter a feed to subscribe" oninput="updateSources()">
        <input type="submit" />
    </form>
    <ul id="sources">
        <% sources.map(({id, url}) => { %>
            <li>
                <a href="/feeds/<%= id %>"><%= url %></a>
                <div>
                    <button onclick="build(<%= id %>)">build feed</button>
                    <button onclick="removeFeed(<%= id %>)">delete feed</button>
                </div>
            </li>
        <% }) %>
    </ul>
</div>
</body>
</html>

