<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML5 boilerplate – all you really need…</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        ul {
            list-style: none;
            padding: 0;
        }
        summary {
            display: flex;
            justify-content: space-between;
        }
        details > summary::-webkit-details-marker {
            display: none;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .buttons > button {
            background: blue;
            margin: 2px 0;
        }
    </style>
</head>

<body id="home">

<h1>RSS Feed</h1>
<div>
    <ul>
        <% posts.map((post) => { %>
            <li>
                <details>
                    <summary>
                        <div>
                            <h3><a href="<%= post.link %>"><%= post.title %></a></h3>
                            <%= new Date(post.pubDate).toDateString() %>
                        </div>
                        <div class="buttons">
                            <button>Hide Post</button>
                        </div>
                    </summary>
                    <div><%- post.description %></div>
                </details>
            </li>
        <% })%>
    </ul>
        <a href="<%= previous %>">previous page</a>
        <a href="<%= next %>">next page</a>
</div>
</body>
</html>

