<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reddit style RSS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!--[if IE]>
    <![endif]-->
    <style>

    </style>
</head>

<body id="home">

<script>
    const hide = async (id) => {
        const res = await fetch(`/hide/${id}`, {
            method: 'POST'
        })
        if (res.ok) {
            location.reload();
            return false;
        }
    }
</script>
<h1>RSS Feed</h1>
<h2>Active Feed</h2>
<nav>
    <ul>
        <li><a href="/hidden">Show Hidden Posts</a></li>
        <li>
            <a href="/feeds">Manage sources</a>
        </li>
    </ul>
</nav>
<div>
    <ul>
        <% posts.map((post) => { %>
            <li id='post-<%= post.id %>'>
                <details>
                    <summary>
                        <div class="vert-center">
                            <div class="vert-center">
                                <div class="votes">
                                    <button class="reset-this vote" onclick="like(<%= post.id %>)">⟰</button>
                                    <button class="reset-this vote" onclick="hide(<%= post.id %>)">⟱</button>
                                </div>
                                <% if (post.preview) { %>
                                    <img class="preview" src="<%= post.preview %>" />
                                <% } %>
                            </div>
                            <div>
                                <h3><a href="<%= post.link %>"><%= post.title %></a></h3>
                                <small><%= post.link.split('/')[2] %></small>
                                <%= new Date(post.pubDate).toDateString() %>
                            </div>
                        </div>
                    </summary>
                    <div><%- post.description %></div>
                </details>
            </li>
        <% })%>
    </ul>
        <a href="<%= previous %>">previous page</a>
        <a href="<%= next %>">next page</a>
</div>
</body>
</html>

