<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= post.title %></title>
    <style>
        body {
            font-size: 200%;
            background: #111;
            color: #616f39;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            top: 0;
            left: 0;
            height: 100vh;
            width: calc(100vw - 4rem);
            margin: 0 2rem;
        }
        img {
            max-width: 85vw !important;
            margin: auto !important;
        }
        a {
            color: #8b7b00;
        }
        a:visited {
            color: #569551;
        }
        h1, h2, h3 {
            text-align: center;
        }
        #stats {
            font-size: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #actions {
            position: sticky;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            width: 100vw;
            background: #111;
        }
        .action {
            height: 6rem;
            width: 15%;
            background: #003200;
            color: #8b7b00 !important;
            display: block;
            margin: 1rem;
            border: 5px outset #107101;
            padding: 0;
            text-align: center;
            line-height: 6rem;
            font-size: 3rem;
            text-decoration: none;
        }
        #actualPost {
            display: flex;
            flex-direction: column;
            align-items: center;
            word-wrap: break-word;
            overflow: scroll;
            flex-grow: 1;
        }
    </style>
</head>

<body id="home">

<script>
    const hide = async (id) => {
        const res = await fetch(`/hide/${id}`, {
            method: 'POST'
        })
        if (res.ok) {
            location.reload();
            return false;
        }
    }
    const like = async (id) => {
        const res = await fetch(`/like/${id}`, {
            method: 'POST'
        })
        if (res.ok) {
            location.reload();
            return false;
        }
    }
</script>
<header>
    <h1><a href="/m">RSS Feed</a></h1>
</header>
<section id="actualPost">
    <div id="stats">
        <small><%= post.link.split('/')[2] %></small>
        <%= new Date(post.pubDate).toDateString() %>
    </div>
    <h3><a href="<%= post.link %>" target="_blank" rel="noopener"><%= post.title || 'No Title Provided' %></a></h3>

    <%- post.description %>
</section>
<div id="actions">
    <button class="action" onclick="like(<%= post.id %>)">save</button>
    <a class="action" href="/m<%= next %>">skip</a>
    <a class="action" href="https://news.ycombinator.com/submitlink?u=<%= encodeURIComponent(post.link) %>&t=<%= encodeURIComponent(post.title) %>">HN</a>
    <button class="action" onclick="hide(<%= post.id %>)">hide</button>
</div>
</body>
</html>

